# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / Packaging
*.egg-info/
build/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# IDE
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log