DATABASE_URL=postgresql://driveiq:driveiq@db:5432/driveiq
TEST_FRONTEND_URL=
FRONTEND_URL=
CLERK_SECRET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
CLERK_JWKS_URL=
CLERK_ISSUER=